.filter{
    width: 100%;
    padding: 13px 16px 16px;
    box-sizing: border-box;
    position: absolute;
    top: 39px;
    z-index: 10;
    &-sort__content{
        display: flex;
        align-items: center;
        gap: 30px;
    }
    &__box{
        height: 132px;
        position: relative;
        width: 360px;
    }
    &__summary{
        display: flex;
        align-items: center;
        gap: 11px;
        color: #000;
        font-family: $font1;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
    }
    &[open]{
        background: #FFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        & .filter__summary{
            color: $colorSelect;
        }
        & .filter__summary_img path{
            fill: $colorSelect;
        }
    }
    &__category{
        margin-top: 16px;
        cursor: pointer;
        &_summary{
            color: #6F6E6E;
            font-size: 14px;
            font-family: $font1;
            font-weight: 400;
            padding: 8px 11px 11px;
            border-left: 5px solid $colorSelect;
            border-bottom: 1px solid #EBEBEB;
        }
        &[open] .filter__category_summary{
            color: $colorSelect;
        }
        &_box{
            padding: 24px 16px;
            display: flex;
            flex-direction: column;
            gap: 11px;
        }
        &_link{
            color: #6F6E6E;
            font-family: $font1;
            font-size: 14px;
            font-weight: 400;
            &:hover{
                color: $colorSelect;
            }
        }
    }
}
.sort{
    display: flex;
    align-items: center;
    gap: 28px;
    &__details{
        position: relative;
        &[open] .sort__summary{
            color: $colorSelect;
        }
        &[open] .sort__img path{
            fill: $colorSelect;
        }
    }
    &__summary{
        display: flex;
        align-items: center;
        gap: 10px;
        color: #6F6E6E;
        font-family: $font1;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
    }
   
   
    &__content{
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 6px;
        width: 79px;
        padding: 7px 9px 11px;
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        z-index: 1;
        top: 22px;
        left: -9px;
    }
    &__label{
        display: flex;
        gap: 9px;
        color: #6F6E6E;
        font-family: $font2;
        font-size: 14px;
        font-weight: 400;
    }

}





.products{
    &__card{
        margin: 0;
    }
    &__items-catalog{
        margin: 0;
    }
}




.pagination{
    display: block;
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 96px;
    padding: 12px 15px;
    box-sizing: border-box;
    width: 283px;
    height: 43px;
    border: 1px solid #EBEBEB;
    &__content{
        display: flex;
        align-items: center;
        gap: 17px;
    }
    &__items{
        display: flex;
        gap: 15px;
        color: #C4C4C4;
        font-family: $font1;
        font-size: 16px;
        font-weight: 300;
        span{
            color: #EF5B70;
        }
        
    }
}

@media(min-width: 768px) and (max-width: 1024px){
    .filter-sort__content{
        justify-content: space-between;
    }
    .filter{
        top: 24px;
        padding-left: 0;
        padding-top: 9px;
        &__box{
            height: 81px;
        }
    }
    .products__item9{
        display: none;
    }
}

