.container{
    padding-left: calc(50% - $widthContent / 2);
    padding-right: calc(50% - $widthContent / 2);
}
.head{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #F8F3F4;
    &__heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title{
        color: $colorSelect;
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
    }
    &__breadcrumbs{
        display: flex;
    }
    &__breadcrumb{
        &_box-link:last-child .head__breadcrumb__link{
            color: $colorSelect;
            font-weight: 700;
        }
        &_box-link:not(:last-child)::after{
            content: '/';
            padding-left: 8px;
            padding-right: 8px;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #636363;
        }
        &__link{
            color: #636363;
            font-size: 14px;
            font-weight: 300;
            text-transform: uppercase;
            &:hover{
                color: $colorSelect;
            }
        }
    }
}

.slider{
    height: 777px;
    position: relative;
    background: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    &__arrow{
        background: rgba(42, 42, 42, 0.15);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 47px;
        height: 47px;
        position: absolute;
        top: 365px;
        &:hover path{
            fill: $colorSelect;
        }
        &_left{
            left: 0;
        }
        &_right{
            right: 0;
        }
    }
}

.product__content{
    margin-top: -65px;
    position: relative;
    z-index: 10;
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: $colorBase2;
    border: 1px solid #EAEAEA;
    &_subtitle{
        color: $colorSelect;
        font-family: Lato;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
    }
    &_line{
        display: block;
        margin: 0 auto;
        margin-top: 12px;
        width: 63px;
        height: 3px;
        background-color: $colorSelect;
    }
    &_title{
        margin-top: 12px;
        color: #4D4D4D;
        font-family: Lato;
        font-size: 18px;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
    }
    &_descr{
        display: block;
        margin: 0 auto;
        margin-top: 48px;
        max-width: 554px;
        color: #5E5E5E;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
    }
    &_price{
        margin-top: 32px;
        color: #EF5B70;
        font-family: Lato;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
    }
    &_line-big{
        display: block;
        margin: 0 auto;
        margin-top: 65px;
        width: 641px;
        height: 1px;
        background-color: #EAEAEA;
    }
    &_sort{
        margin-top: 65px;
        display: flex;
        align-items:flex-start;
        justify-content: center;
        gap: 23px;
    }
    &_summary{
        display: flex;
        align-items: center;
        gap: 9px;
    }
    &_button{
        display: block;
        margin: 0 auto;
        margin-top: 48px;
        width: 212px;
        height: 48px;
        border-color: #FF6A6A;
        background: none;
        &:hover{
            background-color: $colorSelect;
            color: #FFF;
        }
    }
    &_add{
        display: flex;
        align-items: center;
        gap: 23px;
        padding-left: 24px;
        color: #F26376;
        font-size: 16px;
        font-weight: 400;
        &:hover{
            background-color: $colorSelect;
            color: $colorBase2;
        }
        &:hover path{
            fill: $colorBase2;
        }
    }
}

.products__cards{
    margin-top: 129px;
    margin-bottom: 129px;
}




